PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=ePsMRyKgHqVfwvTAxXN6xLEt6iCdE3L4
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB_NAME=crypto
FRONT_URL=http://localhost:3000

CRYPTO_PROVIDER_COINMARKETCAP_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

